services:
  web:
    container_name: pickahit-web
    restart: unless-stopped
    depends_on:
      - mongo
    profiles:
      - main
      - postseason
    image: node:22-alpine
    volumes:
      - .:/app
    working_dir: /app
    ports:
      - $PORT:$PORT
    command: node index.js

  mongo:
    container_name: pickahit-mongo
    restart: unless-stopped
    profiles:
      - main
      - postseason
    image: mongo:8.0.4
    volumes:
      - pickahit-data:/data/db

  cron:
    container_name: pickahit-cron
    restart: unless-stopped
    depends_on:
      - mongo
    profiles:
      - main
    image: node:22-alpine
    volumes:
      - .:/app
    command: sh -c "crontab /app/etc/crontab && crond -f"
    stop_grace_period: 2s

volumes:
  pickahit-data:
    name: pickahit-data

networks:
  default:
    name: coinflipper
    external: true
