h1.title: a(href='/') Pick-a-Hit
if session
	ul.navigation
		li: a(href='/') Big Board
		li: a(href='/users/edit/' + session.user.username) Settings
		li: a(href='/logout') Log Out
else
	form.login(method='POST' action='/sessions' class=error ? 'error' : '')
		input(type='text' name='username' placeholder='Username')
		|
		|
		input(type='password' name='password' placeholder='Password')
		|
		|
		button(type='submit') Log In
