extends layout.pug

block title
	+title('All Sessions')

block content
	table
		thead
			tr
				th Username
				th Logins
				th Logouts
				th Last Activity
			each user in users
				tr
					td #{user.username}
					td #{sessionUserActivityMap[user.username].active}
					td #{sessionUserActivityMap[user.username].inactive}
					td
						if sessionUserActivityMap[user.username].lastActivity
							| #{dateFormat(sessionUserActivityMap[user.username].lastActivity, 'yyyy-mm-dd hh:MM:ss')}
						else
							| None
