extends layout.pug

block title
	+title('Test')

block append scripts
	script(src='/js/bigBoard.js' type='text/javascript')

block content
	div.row
		if games.length == 0
			h5.col-8.offset-2.text-center There are no games scheduled for #{dateFormat(today, 'mmmm d')}.
		else
			each game in games
				+gameCard(game)

	pre #{JSON.stringify(games, null, '  ')}
