- var additionalJsFiles = [ '/js/verifier.js' ];

include header.pug

body
	div.verifier
		h1 Pick-a-Hit
		img.logo(src='http://www.coinflipper.org/logo.png')
		div.right
			form(method='POST' action='/login')
				input(type='text' name='username' placeholder='Username')
				br
				input(type='password' name='password' placeholder='Password')
				br
				button(type='submit') Verify Me!

			div.success.hidden
				p
					| Everything looks great,
					|
					span.display-name user
					| !

				p
					| Pick-a-Hit begins on October 3rd!

			div.failure.hidden
				p
					| Something went wrong. Please let
					|
					a(href='mailto:jpnance@gmail.com') Patrick
					|
					| know or
					|
					a.try-again(href='#') try again
					| .
