body {
	font-family: sans-serif;
	padding: 1em;
}

h1 {
	font-size: 300%;
	font-weight: bold;
	padding: 0.8em;
}

input {
	border: 1px solid #dddddd;
	padding: 8px;
}

p {
	display: block;
	margin: 1em 0;
}

table {
	border-collapse: collapse;
}

table th {
	font-size: 80%;
	text-align: left;
	vertical-align: bottom;
	white-space: nowrap;
}

table th p.teams {
	font-weight: bold;
}

table th,
table td {
	border: 1px solid #ccc;
	padding: 4px;
}

table td.name {
	text-align: right;
}

div.verifier {
	text-align: center;
}

div.verifier img.logo {
	border-right: 1px solid #aaaaaa;
	display: inline-block;
	padding-right: 24px;
	width: 250px;
}

div.verifier .hidden {
	display: none;
}

div.verifier div.right {
	display: inline-block;
	padding-left: 8px;
	padding-top: 76px;
	text-align: center;
	vertical-align: top;
	width: 250px;
}

div.verifier form input {
	width: 80%;
}

div.verifier form input:focus {
	border: 1px solid #666666;
}

div.verifier form input, div.verifier form button {
	margin-top: 12px;
}

div.verifier div.success,
div.verifier div.failure {
	font-size: 150%;
	line-height: 1.2em;
}

div.verifier div.success p {
	margin-bottom: 1em;
}
