extends ../layout.pug

block title
	+title('Add User')

block content
	form(method='POST' action='/users')
		input(type='text' name='username' placeholder='username')
		br
		input(type='text' name='firstName' placeholder='first name')
		br
		input(type='text' name='lastName' placeholder='last name')
		br
		input(type='text' name='displayName' placeholder='display name')
		br
		input(type='password' name='password' placeholder='password')
		br
		input(type='checkbox' id='eligible' name='eligible' checked='checked')
		label(for='eligible') Eligible for the #{process.env.SEASON} season?
		br
		button(type='submit') create user
